# .gitignore

# Virtual environment
venv/
new_venv/
env/

# Compiled Python files
*.pyc
__pycache__/

# Django-specific
*.log
db.sqlite3

# IDE or editor-specific files
.vscode/
.idea/

# User-specific files
.DS_Store
Thumbs.db

# Local configuration
*.env

# Dependency directories
node_modules/
staticfiles/

# Docker
docker-compose.override.yml

# Django Migration
vendor_machine_api/migrations/
accounts/migrations
products/migrations